* {
    box-sizing: border-box;
}
.row {
  height: 80vh;
  padding-left: 0px;
  padding-right: 0px;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 35px;
    height: 80%;
    border-radius: 25px;
}

.column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 80%;
    border-radius: 25px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.headerrow {
  height: 10vh;

}

.fix{
    position:fixed;
    bottom:0px;
    right: 0px;
    }

.fix2{
  position:fixed;
  top:20px;
  left:30px;
}
